<head>
    <!-- Open Graph tags -->
    <meta property="og:title" content="{{ page.title | escape }}" />
    <meta property="og:description" content="{{ page.description | escape }}" />
    <meta property="og:image" content="{{ site.url }}/nsf.jpg" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.title | escape }}" />
    <meta name="twitter:description" content="{{ page.description | escape }}" />
    <meta name="twitter:image" content="{{ site.url }}/nsf.jpg" />
</head>

